[mail]
server: mail.example.com
ssl: True
user: example@example.com
password: change me

[notifo]
username: example
secret: 1234123412113412342314
label: mail alert

[security]
from: None

[logging]
file: notifo-imap-listener.log
level: info
